// Colors =====>
$color-black: #000000;
$color-white: #ffffff;
$color-background: #1d2a7a;
$color-background-dark: #192268;
$color-border: #25308a;

// Transitions =====>
$transition-low: all 0.15s ease-in-out;
$transition-normal: all 0.3s ease-in-out;