<section class="product">
  <div class="container">
    <div class="product__item append-container" id="smartplace">
      <div class="product__text">
        <h2 class="product__title">
          SMARTPLACE
          <i class="icon-smartplace product__icon"></i>
        </h2>
        <p class="site-description">
          Legally compliant sales & acquisitions of mobile assets on blockchain
        </p>
        <div class="product__image append-item">
          <img src="img/product-smartplace.png" alt="Image of phone with app">
        </div>
        <div class="smartplace">
          <div class="smartplace__wrapper">
            <div class="smartplace__item">
              <i class="icon-car smartplace__icon"></i>
            </div>
          </div>
          <div class="smartplace__wrapper">
            <div class="smartplace__item">
              <i class="icon-motorbike smartplace__icon"></i>
            </div>
          </div>
          <div class="smartplace__wrapper">
            <div class="smartplace__item">
              <i class="icon-airplane smartplace__icon"></i>
            </div>
          </div>
          <div class="smartplace__wrapper">
            <div class="smartplace__item">
              <i class="icon-yacht smartplace__icon"></i>
            </div>
          </div>
        </div>
        <ul class="list-primary">
          <li class="item-primary">
            Use unique tokens to trade your physical assets safely
          </li>
          <li class="item-primary">
            Sell and buy your NFT on the marketplace to enter into the deal
          </li>
          <li class="item-primary">
            Go through automated transaction secured by smart contracts to secure the deal
          </li>
          <li class="item-primary">
            Digitally sign legal docs
          </li>
          <li class="item-primary">
            Make and receive instant payment in crypto or fiat in your Jeto Wallet
          </li>
        </ul>
        <a href="http://demo.corpay.solutions/" class="btn-primary">
          <span class="btn-primary__text">Request demo</span>
          <i class="icon-arrow-circle-right btn-primary__icon"></i>
        </a>
      </div>
    </div>
    <div class="product__item append-container" id="jeto-wallet">
      <div class="product__text">
        <h2 class="product__title">
          Jeto Wallet
          <i class="icon-jeto-wallet product__icon"></i>
        </h2>
        <p class="site-description">
          All-in-one payment and storage solution for your crypto assets
        </p>
        <div class="product__image append-item">
          <img src="img/product-jeto-wallet.png" alt="Image of phone with app">
        </div>
        <ul class="list-primary">
          <li class="item-primary">
            Deposit and withdraw funds in crypto or fiat
          </li>
          <li class="item-primary">
            Buy asset's NFT by locking purchase amount right in YOUR wallet until the deal is closed
          </li>
          <li class="item-primary">
            Keep your assets' NFTs safe
          </li>
          <li class="item-primary">
            Get access to technical data and legal docs on your assets and transactions directly in the wallet
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>