<section class="news">
  <div class="container">
    <h2 class="section-title">
      Resources
    </h2>
    <p class="site-description">
      Learn more about digital securities with our resources.
    </p>
    <div class="swiper news__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide news__slide">
          <a href="#" class="news-card">
            <div class="news-card__image">
              <span class="news-card__label">
                Blog
              </span>
              <img src="img/product-smartplace.png" alt="News preview">
            </div>
            <div class="news-card__text">
              <h3 class="news-card__title">
                Lorem ipsum dolor sit.
              </h3>
              <div class="news-card__date">
                <i class="icon-clock"></i>
                15 May 2022
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide news__slide">
          <a href="#" class="news-card">
            <div class="news-card__image">
              <span class="news-card__label">
                News
              </span>
              <img src="img/product-jeto-wallet.png" alt="News preview">
            </div>
            <div class="news-card__text">
              <h3 class="news-card__title">
                Lorem ipsum dolor sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, ullam.
              </h3>
              <div class="news-card__date">
                <i class="icon-clock"></i>
                15 May 2022
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide news__slide">
          <a href="#" class="news-card">
            <div class="news-card__image">
              <span class="news-card__label">
                Blog
              </span>
              <img src="img/product-smartplace.png" alt="News preview">
            </div>
            <div class="news-card__text">
              <h3 class="news-card__title">
                Lorem ipsum dolor sit.
              </h3>
              <div class="news-card__date">
                <i class="icon-clock"></i>
                15 May 2022
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide news__slide">
          <a href="#" class="news-card">
            <div class="news-card__image">
              <span class="news-card__label">
                News
              </span>
              <img src="img/product-jeto-wallet.png" alt="News preview">
            </div>
            <div class="news-card__text">
              <h3 class="news-card__title">
                Lorem ipsum dolor sit. Lorem ipsum dolor sit amet
              </h3>
              <div class="news-card__date">
                <i class="icon-clock"></i>
                15 May 2022
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide news__slide">
          <a href="#" class="news-card">
            <div class="news-card__image">
              <span class="news-card__label">
                Blog
              </span>
              <img src="img/product-smartplace.png" alt="News preview">
            </div>
            <div class="news-card__text">
              <h3 class="news-card__title">
                Lorem ipsum dolor sit.
              </h3>
              <div class="news-card__date">
                <i class="icon-clock"></i>
                15 May 2022
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide news__slide">
          <a href="#" class="news-card">
            <div class="news-card__image">
              <span class="news-card__label">
                News
              </span>
              <img src="img/product-jeto-wallet.png" alt="News preview">
            </div>
            <div class="news-card__text">
              <h3 class="news-card__title">
                Lorem ipsum dolor sit. Lorem ipsum dolor sit amet consectetur
              </h3>
              <div class="news-card__date">
                <i class="icon-clock"></i>
                15 May 2022
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-pagination news-pagination"></div>
      <div class="news-navigation">
        <div class="swiper-button-prev news-button-prev"></div>
      <div class="swiper-button-next news-button-next"></div>
      </div>
    </div>
    <div class="news__wrapper">
      <a href="#" class="btn-primary">
        <span class="btn-primary__text">View more</span>
        <i class="icon-arrow-circle-right btn-primary__icon"></i>
      </a>
      <div class="subscribe">
        <div class="subscribe__text">
          <h4 class="subscribe__title">
            Lorem ipsum dolor sit amet consectetur.
          </h4>
          <p class="subscribe__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. <strong>Vitae unde iste nemo pariatur</strong>, itaque repellendus alias dignissimos inventore esse? Itaque?
          </p>
        </div>
        <a href="#" class="btn-primary">
          <span class="btn-primary__text">Subscribe</span>
          <i class="icon-arrow-circle-right btn-primary__icon"></i>
        </a>
      </div>
    </div>
  </div>
</section>