<header class="header">
  <div class="container">
    <div class="logo">
      <img src="img/logo.svg" alt="Logo of JetSet">
    </div>
    <button class="burger">
      <span class="burger__line"></span>
    </button>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link smooth-scroll">
            Home
          </a>
        </li>
        <li class="nav__item">
          <a href="#smartplace" class="nav__link smooth-scroll">
            Smartplace
          </a>
        </li>
        <li class="nav__item">
          <a href="#jeto-wallet" class="nav__link smooth-scroll">
            Wallet
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>