<section class="about">
  <div class="container">
    <h2 class="section-title">
      TOKENIZATION
    </h2>
    <p class="site-description">
      Non-fungible tokens are used to represent physical assets and associated rights on blockchain. Purchase of NFT allows to enter into the deal on the Smartplace to finalize the transaction in accordance with regulations. NFT purchase price is refundable and equals the asset's prepayment.
    </p>
    <div class="scheme">
      <ul class="scheme__list">
        <li class="scheme__item">
          Immutable legal docs
        </li>
        <li class="scheme__item">
          Option to sell/buy an asset
        </li>
        <li class="scheme__item">
          Proof of title transfer
        </li>
      </ul>
      <div class="scheme__label">
        Assets NFTs
        <div class="scheme__label_xl"></div>
        <div class="scheme__lines">
          <img src="img/scheme-lines.svg" alt="Decor lines">
        </div>
        <div class="scheme__lines_xl">
          <img src="img/scheme-lines-xl.svg" alt="Decor lines">
        </div>
      </div>
      <ul class="scheme__list">
        <li class="scheme__item">
          Proof of ownership
        </li>
        <li class="scheme__item">
          Specs & Usage data
        </li>
        <li class="scheme__item">
          Maintenance and repairs data
        </li>
      </ul>
    </div>
  </div>
</section>