<section class="hero scrollto" id="home">
  <div class="container append-container">
    <div class="hero__text">
      <h1 class="site-title">
        <strong>Private vehicles</strong>
        Tokenization & Trading
      </h1>
      <div class="hero__image append-item">
        <img src="img/hero-cpu.svg" alt="Decor image">
      </div>
      <p class="site-description">
        All-in-one solution to safely trade cars, yachts & boats or private planes on blockchain
      </p>
      <a href="http://demo.corpay.solutions/" class="btn-primary">
        <span class="btn-primary__text">Request demo</span>
        <i class="icon-arrow-circle-right btn-primary__icon"></i>
      </a>
    </div>
  </div>
</section>